@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

h1 {
  color: red;
  animation: 5s linear 1s infinite alternate slidein;

}

img {
  background-color: red;
  animation: .5s linear 1s infinite alternate slidein;

}
